@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-category-clothes {
  background-color: #e6f7e9; /* Vert clair */
  border-color: #4caf50; /* Vert */
}

.bg-category-food {
  background-color: #ffe6cc; /* Orange clair */
  border-color: #ff9800; /* Orange */
}

.bg-category-equipment {
  background-color: #e6f3ff; /* Bleu clair */
  border-color: #2196f3; /* Bleu */
}

.bg-category-other {
  background-color: #fff4cc; /* Jaune clair */
  border-color: #ffc107; /* Jaune */
}
